.calculatorContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  width: 100%;
  height: auto;
}

.calculatorBlurb {
  width: 50%;
  height: auto;
  text-align: left;
  padding-left: 20px;
  font: 400 36px/36px Arial, sans-serif;
}

.calculator {
  top: 100px;
  display: flex;
  flex-flow: column nowrap;
  width: 700px;
  height: auto;
  border: 5px double #d35400;
  -webkit-box-shadow: 10px 10px 0 -4px rgba(204, 204, 204, 1);
  -moz-box-shadow: 10px 10px 0 -4px rgba(204, 204, 204, 1);
  box-shadow: 10px 10px 0 -4px rgba(204, 204, 204, 1);
}
