.navbarContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  align-content: center;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  margin-bottom: 50px;
  border-bottom: 5px double #d35400;
}

.navbarTitle {
  font: 500 28px/28px Arial, sans-serif;
  color: black;
}

.navbarLinks {
  width: auto;
  font: 400 20px/20px Arial, sans-serif;
  margin-left: auto;

  a {
    text-decoration: none;
    color: blue;
    transition-duration: 0.1s;

    &:hover {
      color: lightblue;
      transition-duration: 0.15s;
    }
  }
}
