.button {
  width: 25%;
  height: 100%;
  border: 1px solid #C8CACC;

  button {
    height: 100%;
    width: 100%;
    border: none;
    font: 400 20px/20px Arial, sans-serif;
  }
}

.zeroButton {
  width: 50%;
  border: 1px solid #C8CACC;

  button {
    width: 100%;
    height: 100%;
    border: none;
    font: 400 20px/20px Arial, sans-serif;
  }
}

button {
  &:focus {
    outline: none;
  }
}

.grey {
  background-color: #EAEDED;
  transition-duration: 0.1s;

  &:hover {
    background-color: #CDCFCF;
    transition-duration: 0.15s;
  }

  &:focus {
    border: 2px solid #929494;
  }
}

.orange {
  background-color: #F0B27A;
  transition-duration: 0.1s;

  &:hover {
    background-color: #D29C6B;
    transition-duration: 0.15s;
  }

  &:focus {
    border: 2px solid #B4855C;
  }
}
