.calculatorContainer {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-flow: column nowrap;
  width: 700px;
  height: auto;
  border: 5px double #D35400;
  -webkit-box-shadow: 10px 10px 0px -4px rgba(204,204,204,1);
  -moz-box-shadow: 10px 10px 0px -4px rgba(204,204,204,1);
  box-shadow: 10px 10px 0px -4px rgba(204,204,204,1);
}
