.display {
  padding: 10px;
  background-color: #d6dbdf;
  height: 100px;
  text-align: right;

  h2 {
    display: block;
    height: auto;
    font-size: 88px;
    color: white;
    font-weight: 700;
    line-height: 100%;
  }
}
